%section.box.index
  %h1.box-title= h1
  .box-content
    = simple_form_for [@person, @relationship], html: { class: "basic" } do |f|
      = f.error_notification class: "warning"

      = show_attribute('Person', @person.name)
      - related = @relationship.related.present? ? @relationship.related.name : ''
      = f.input :related, label: 'Sök anhörig' do
        = text_field_tag :relationship_related, nil, value: '', 'data-autocomplete-url' => people_suggest_path,
          class: 'form-control', placeholder: 'Sök på namn, person-, dossier- eller kundnummer'
      .form-group
        .control-label= label_tag 'Vald anhörig:*'
        .controls= text_field_tag 'relationship_related_name', related, readonly: true, tabindex: -1, class: "form-control"
      = f.input :related_id, as: :hidden
      = f.association :type_of_relationship, input_html: { class: 'chosen' }

      = render 'application/submit', form: f, cancel_path: person_show_relateds_path(@person)
