= javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
:javascript
  google.charts.load("current", { packages: ["corechart"] });

- cache "view-#{@cache_key_for_status}" do
  - title 'Översikt'
  %section.box.show.statistics
    %h1.box-title= h1
    .box-content.basic

      .chart-box
        = render 'chart'

      - @stats[:periods].each do |period|
        %h2.group-title= period[:title]

        %p
          = "#{period[:data][:refugees]} barn"
          = "(#{period[:data][:per_gender]})"
        %p= "#{period[:data][:in_transit]} är i ankomst"
        %p= raw "#{period[:data][:with_residence_permit]} har <abbr title='Permanent uppehållstillstånd'>PUT</abbr>"
        %p= "#{period[:data][:with_municipality_placement_in_malmo_srf]} har anvisning till Malmö Srf"
        %p= "#{period[:data][:with_municipality_placement_in_malmo_sdo]} har anvisning till Malmös stadsområden"
        %p= "#{period[:data][:with_municipality_placement_others]} har anvisning till andra kommuner"
        %p= "#{period[:data][:with_no_municipality_placement]} saknar anvisning"
        %p= "#{period[:data][:with_municipality_placement_and_not_deregistered]} har anvisning och har ännu inte avslutats"
        %p= "#{period[:data][:with_municipality_placement_in_malmo_and_deregistered]} har anvisning i annan kommun och har avslutats"
        %p= "#{period[:data][:at_external_home]} barn är placerade på externa placeringar"
        %p
          = "Vanligaste länder (10 barn eller fler):"
          = period[:data][:top_countries][0...3].map(&:first).join(', ')

      %h2.group-title Boenden och placeringar
      %p
        = "Det är för närvarande #{@stats[:current_placed_refugees].count} barn placerade."
        = "#{@stats[:current_placements_per_owner_type]} boenden."
      %p
        = "Det finns #{@stats[:homes]} boenden med #{@stats[:guaranteed_seats] + @stats[:movable_seats]} boendenplatser."
        = "Av dessa är #{@stats[:guaranteed_seats]} garantiplatser och #{@stats[:movable_seats]} rörliga."
      %p= "Av boenden är #{@stats[:home_by_owner_type]}"
