- title 'Aktuellt läge'
%section.box.show.statistics
  %h1.box-title= h1
  .box-content.basic
    %h2.group-title I systemet har vi just nu
    .stat
      = "#{@refugees} flyktingbarn"
      = "(#{@genders})"
    .stat= "#{@without_residence_permits} saknar uppehållstillstånd"
    .stat= "#{@without_municipality_placement} saknar kommunplacering"
    .stat= "#{@without_placement} har ännu inte boendeplacerats"
    .stat= "#{@deregistered} är avregistrerade"
    .stat= "Det finns #{@homes} boenden och #{@total_placement_time} dagar total boendetid"
