- cache "view-#{@cache_key_for_status}" do
  - title 'Översikt'
  %section.box.show.statistics
    %h1.box-title= h1
    .box-content.basic
      - @stats[:periods].each do |period|
        %h2.group-title= period[:title]
        %p
          = "#{period[:data][:refugees]} barn"
          = "(#{period[:data][:per_gender]})"
        %p= "#{period[:data][:in_transit]} är i ankomst"
        %p= raw "#{period[:data][:with_residence_permit]} har <abbr title='Permanent uppehållstillstånd'>PUT</abbr>"
        %p= raw "#{period[:data][:with_temporary_permit]} har <abbr title='Tillfälligt uppehållstillstånd'>TUT</abbr>"
        %p= "#{period[:data][:with_municipality_placement_in_malmo]} har anvisning till Malmö"
        %p= "#{period[:data][:with_municipality_placement]} har anvisning totalt"
        %p= "#{period[:data][:with_placement]} har boendeplats"
        %p= "#{period[:data][:deregistered]} är avregistrerade"
        %p
          = "Vanligast härkomst:"
          - period[:data][:top_countries][0...10].each do |lang|
            = "#{lang[0]} (#{lang[1]}),"
        %p
          = "Vanligast språk:"
          - period[:data][:top_languages][0...10].each do |lang|
            = "#{lang[0]} (#{lang[1]}),"

      %h2.group-title Boenden och placeringar
      %p= "Det finns för närvarande #{@stats[:current_placements].count} boendeplaceringar"
      %p
        = "Det finns #{@stats[:guaranteed_seats] + @stats[:movable_seats]} boendenplatser fördelade på #{@stats[:homes]} boenden."
        = "Av dessa är #{@stats[:guaranteed_seats]} garantiplatser och #{@stats[:movable_seats]} rörliga."
      %p= "#{@stats[:home_by_owner_type]}"
