- cache "view-#{@cache_key_for_status}" do
  - title 'Översikt'
  %section.box.show.statistics
    %h1.box-title= h1
    .box-content.basic
      %h2.group-title Aktuella ärenden
      %p #{in_arrival} personer är i ankomst i väntan på anvisning
      %p
        Malmö stad ansvarar för #{our_municipality_people.count} personer,
        varav #{our_municipality_genders.join(', ')}
      %p Vanligaste nationaliteterna är #{top_countries}
      %p #{people_waiting_for_verdict} personer är asylsökande och väntar på beslut i asylärendet
      %p #{people_with_residence_permit} personer har PUT
      %p #{people_with_temporary_permit} personer har TUT
      %p #{people_with_citizenship} personer har erhållit svenskt medborgarskap
      %p #{people_without_ekb} personer är inte EKB

      %h2.group-title Placeringar och boenden
      %p #{people_on_hvb} personer är placerade på kommunala HVB
      %p #{people_on_outward_home} personer är placerade på kommunala stödboenden
      %p #{externaly_placed_people} personer är externt placerade
      %p #{people_on_emergency_home} personer är placerade i jourhem
      %p #{people_on_family_home} personer är placerade i familjehem
      %p #{people_on_network_home_unprocessed} personer är placerade i nätverkshem, outrett
      %p #{people_on_network_home_processed} personer är placerade i nätverkshem, utrett
      %p
        Malmö stad har #{number_of_homes} kommunala HVB
        samt stödboende med #{guaranteed_seats} boendeplatser
