= show_attribute('Namn', @person.name)
= f.association :extra_contribution_type, include_blank: true,
                collection: ExtraContributionType.all.map { |type| [type.name, type.id, { 'data-special-case' => type.outpatient? }] }

= f.input :period_start, as: :string, wrapper: :datepicker
= f.input :period_end, as: :string, wrapper: :datepicker
.normal_case
  = f.input :fee, input_html: { placeholder: 'kr', value: number_with_precision(f.object.fee, precision: 2, separator: '.') }
  = f.input :expense, input_html: { placeholder: 'kr', value: number_with_precision(f.object.expense, precision: 2, separator: '.') }
  = f.input :contractor_name
  = f.input :contractor_birthday, as: :string, wrapper: :datepicker
  = f.input :contactor_employee_number
.outpatient
  = f.input :monthly_cost, input_html: { placeholder: 'kr', value: number_with_precision(f.object.monthly_cost, precision: 2, separator: '.') }
  = f.input :comment

= render 'application/submit', form: f, cancel_path: person_show_costs_path(@person)
