.fields_for_group
  = fae.input :sub_group, label: 'Familje/jourhemskostnad' do
    = fae.input_field :_destroy, as: :hidden, class: :destroy
    .input_group
      = fae.input :period_start, as: :string, wrapper: :datepicker
      = fae.input :period_end, as: :string, wrapper: :datepicker
      = fae.input :fee
      = fae.input :expense
      = fae.input :contractor_name
      = fae.input :contractor_birthday, as: :string, wrapper: :datepicker
      = fae.input :contactor_employee_number

    .input-group
      %button.btn.btn-sm.btn-danger.remove.group{ type: :button }= "Radera familje/jourhemskostnad"
