= show_attribute('Namn', @person.name)
= f.association :home,
                collection: @homes.map { |h| [home_and_type_of_cost(h), h.id, { 'data-use-specification' => h.use_placement_specification,
                'data-type-of-cost' => h.type_of_cost }] },
                input_html: { class: 'chosen' }

- if @pre_selected.present?
  = f.association :legal_code, include_blank: false, selected: @pre_selected
- else
  = f.association :legal_code, include_blank: false
= f.input :moved_in_at, as: :string, wrapper: :datepicker
= f.input :specification
= f.input :cost

.family_and_emergency_home_costs
  %h2.group-title Familje/jourhemskostnader
  .terms
    = f.simple_fields_for :family_and_emergency_home_costs, @placement.family_and_emergency_home_costs do |fae|
      = render "fields_for_family_and_emergency_home_cost", fae: fae
    .form-group
      .controls
        = add_family_and_emergency_home_costs_button "Ny familje/jourhemskostnad", f

%h2.group-title{ popover('placement.placement_extra_costs') } Extra utgifter
.terms
  = f.simple_fields_for :placement_extra_costs, @placement.placement_extra_costs do |pec|
    = render "fields_for_placement_extra_cost", pec: pec
  .form-group
    .controls
      = add_placement_extra_costs_button "Ny extra utgift", f

- if @placement.moved_out_at.present?
  %h2.group-title Utskrivning
  = f.input :moved_out_at, as: :string, wrapper: :datepicker
  = f.association :moved_out_reason

= render 'application/submit', form: f, cancel_path: person_show_placements_path(@person)
