- title "Redigera boendeplacering"
%section.box.index
  %h1.box-title= h1
  .box-content
    = simple_form_for @placement, url: refugee_placement_path(@refugee, @placement), html: { class: "basic" } do |f|
      = f.error_notification class: "warning"

      = show_attribute('Namn', @refugee.name)
      = f.association :home, collection: @homes, input_html: { class: 'chosen' }
      = f.input :moved_in_at, as: :string, wrapper: :datepicker
      - if @placement.moved_out_at.present?
        = f.input :moved_out_at, as: :string, wrapper: :datepicker
        = f.association :moved_out_reason
        = f.input :comment

      = render 'application/submit', form: f, cancel_path: refugee_path(@refugee)
