- title "Redigera boendeplacering"
%section.box.index
  %h1.box-title= h1
  .box-content
    = simple_form_for @placement, url: refugee_placement_path(@refugee, @placement), html: { class: "basic" } do |f|
      = f.error_notification class: "warning"
      = render 'form', f: f

- if can?(:destroy, Placement)
  %section.box.show.user.danger-zone
    %h1.box-title Riskområde
    .box-content.basic.form-data
      %section.misc
        %p= "Placeringen kommer att raderas permanent. Detta går inte att ångra."
        .delete= button_to 'Radera placeringen permanent', refugee_placement_path(@refugee, @placement), data: { confirm: 'Är du säker på att du vill radera placeringen permanent?', method: :delete }, class: "btn btn-danger btn-default"
