- title "Utskrivning från boende"
%section.box.index
  %h1.box-title= h1
  .box-content
    = simple_form_for @placement, url: person_placement_path(@person, @placement), html: { class: "basic" } do |f|
      = f.error_notification class: "warning"

      = show_attribute('Namn', @person.name)
      = show_attribute('Boende', @placement.home.name)
      = f.hidden_field :home_id, value: @placement.home.id

      - if @placement.home.use_placement_specification?
        = show_attribute('placement.specification', @placement.specification)

      = show_attribute('Lagrum', (@placement.legal_code.name if @placement.legal_code.present?))
      = show_attribute('Inflyttning', @placement.moved_in_at)
      = f.input :moved_out_at, as: :string, wrapper: :datepicker
      = f.association :moved_out_reason

      = render 'application/submit', form: f, cancel_path: person_path(@person)
