.box-content
  = simple_form_for @type_of_housing, html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    = f.input :name

    .form-group
      %span.no-control-label
      .controls
        = f.submit t('actions.save'), class: "btn btn-primary"
        = link_to t('actions.cancel'), type_of_housings_path(@type_of_housing.name), class: "btn btn-default"
