.box-content
  = simple_form_for @extra_contribution_type , html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    = f.input :name
    = f.input :outpatient, wrapper: :vertical_radio_and_checkboxes

    = render 'application/submit', form: f, cancel_path: extra_contribution_types_path
