.fields_for_group
  = s.input :amount, required: false, label: 'Belopp', wrapper: :addon do
    = s.input_field :_destroy, as: :hidden
    .input-group.date
      = s.input_field :amount, class: "form-control", placeholder: 'kronor'
      .input-group-addon= 'kr'
      = s.input_field :start_date, as: :string, class: "form-control date", placeholder: 'startdatum'
      .input-group-addon= 'till'
      = s.input_field :end_date, as: :string, class: "form-control date", placeholder: 'slutdatum'

      %span.input-group-btn
        %button.btn.btn-default.remove{ type: :button }
          %span.m-icon-close-0
