.box-content
  = simple_form_for @rate_category, html: { class: "basic home" } do |f|
    = f.error_notification class: "warning"

    %h2.group-title Schablon
    = show_attribute('rate_category.name', @rate_category.name)
    = show_attribute('rate_category.description', @rate_category.description)
    = show_attribute('rate_category.from_age', @rate_category.from_age)
    = show_attribute('rate_category.to_age', @rate_category.to_age)
    = show_attribute('rate_category.legal_code', @rate_category.legal_code.name)

    %h2.group-title Ekonomi
    .terms
      = f.simple_fields_for :rates do |s|
        = render "fields_for_rate", s: s
      .form-group
        %span.control-label
        .controls
          = add_rates_button "Lägg till belopp", f

    = render 'application/submit', form: f, cancel_path: rate_categories_path
