.box-content
  = simple_form_for @home, method: @method, url: @action, html: { class: "basic home" } do |f|
    = f.error_notification class: "warning"

    %h2.group-title Kontaktuppgifter
    = f.input :name
    = f.input :phone
    = f.input :fax
    = f.input :address
    = f.input :post_code
    = f.input :postal_town

    %h2.group-title Boendefakta
    = f.association :type_of_housings, input_html: { class: 'chosen' }
    = f.association :owner_type
    = f.association :target_groups, input_html: { class: 'chosen' }
    = f.association :languages, input_html: { class: 'chosen' }
    = f.input :use_placement_specification, wrapper: :vertical_radio_and_checkboxes
    = f.input :comment

    %h2.group-title Ekonomi
    = f.input :type_of_cost, collection: Home.type_of_costs.keys.map(&:to_sym), include_blank: false
    .terms.cost
      = f.simple_fields_for :costs do |s|
        = render "fields_for_cost", s: s
      .form-group.add-cost
        %span.control-label
        .controls
          = add_costs_button "Lägg till dygnskostnad", f

    %h2.group-title Tillgänglighet
    = f.input :guaranteed_seats
    = f.input :movable_seats
    = f.input :active, wrapper: :vertical_radio_and_checkboxes

    = render 'application/submit', form: f,
      cancel_path: @home.id.present? ? home_path(@home) : homes_path
