- title "Boenden"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      - if can? :manage, Home
        %tr
          %td{ colspan: 10 }
            .actions= link_to t('actions.new'), new_home_path, class: "btn btn-primary"
      %tr
        %th Namn
        %th Boendeform
        %th Målgrupp
        %th Ägarform
        %th.num Platser
        %th.num Garantiplatser
        %th.num Lediga platser
        %th.num Placeringar
        %th Har kostnad
        %th Aktivt

    %tbody
      - @homes.each do |home|
        %tr
          %td= link_to home.name, home
          %td= home.type_of_housings.map(&:name).join(', ')
          %td= home.target_groups.map(&:name).join(', ')
          %td= home.owner_type.present? ? home.owner_type.name : ''
          %td.num= home.seats
          %td.num= home.guaranteed_seats
          %td.num
            - if @current_placements.present?
              = home.seats - @current_placements[home.id].to_i
          %td.num
            - if @current_placements.present?
              = @current_placements[home.id].to_i
          %td= home.current_cost? ? 'Ja' : 'Nej'
          %td= home.active? ? 'Ja' : 'Nej'

      - if can? :manage, Home
        %tr
          %td{ colspan: 10 }
            .actions= link_to t('actions.new'), new_home_path, class: "btn btn-primary"
