- title 'Boende'
%section.box.show
  %h1.box-title= h1
  .box-content.basic.form-data
    - if can? :manage, Home
      .form-group
        = link_to 'Redigera', edit_home_path(@home), class: 'btn btn-default'
    = form_for @home, html: { class: 'basic' } do |f|

      %h2.group-title Kontaktuppgifter
      = show_attribute('home.name', @home.name)
      = show_attribute('home.phone', @home.phone)
      = show_attribute('home.fax', @home.fax)
      = show_attribute('home.address', @home.address)
      = show_attribute('home.post_code', @home.post_code)
      = show_attribute('home.postal_town', @home.postal_town)

      %h2.group-title Boendefakta
      = show_attribute('home.type_of_housings', @home.type_of_housings.map(&:name).join(', '))
      = show_attribute('home.owner_type', @home.owner_type.present? ? @home.owner_type.name : '')
      = show_attribute('home.target_groups', @home.target_groups.map(&:name).join(', '))
      = show_attribute('home.languages', @home.languages.map(&:name).join(', '))
      = show_attribute('home.use_placement_specification', @home.use_placement_specification? ? 'Ja' : 'Nej')
      = show_attribute('home.comment', @home.comment)

      %h2.group-title Ekonomi
      = show_attribute('Form av kostnad', I18n.t("simple_form.options.home.type_of_cost.#{@home.type_of_cost}"))
      = show_attribute('Dygnskostnader (kr)', @home.costs.map { |cost| "#{cost.amount} kr (#{cost.start_date} till #{cost.end_date})" }.join('<br>'))

      %h2.group-title Tillgänglighet
      = show_attribute('Aktuella placeringar', @placements.to_a.size)
      = show_attribute('Placeringar totalt', @home.placements.count)
      = show_attribute('Total placeringstid', "#{@home.total_placement_time} dagar")
      = show_attribute('home.guaranteed_seats', @home.guaranteed_seats)
      = show_attribute('Lediga platser', @home.seats - @placements.to_a.size)
      = show_attribute('home.movable_seats', @home.movable_seats)
      = show_attribute('Summa platser', @home.seats)
      = show_attribute('home.active', @home.active? ? 'Ja' : 'Nej')

      %h2.group-title Aktuella placeringar
      - if @placements.blank?
        %p Inga placering för närvarande
      - else
        %table.full.wrap
          %thead
            %tr
              %th Namn
              %th Dossiernummer
              %th Personnummer
              %th Kön
              %th Land
              %th Placerad
              %th Anvisningskommun
              %th Anvisningsdatum

          %tbody
            - @placements.each do |placement|
              %tr
                %td= link_to placement.person.name, placement.person
                %td= placement.person.dossier_number
                %td= placement.person.ssn
                %td
                  - if placement.person.gender.present?
                    = placement.person.gender.name
                %td= placement.person.countries.map(&:name).join(', ')
                %td.date= placement.moved_in_at
                %td= placement.person.municipality.name if placement.person.municipality.present?
                %td= placement.person.municipality_placement_migrationsverket_at
