.assignments
  %h2.group-title Boendeplaceringar
  - if @refugee.assignments.empty?
    Har ännu inte placerats.

  - @refugee.assignments.each do |a|
    .assignment
      = show_attribute('Boende', (link_to a.home.name, home_path(a.home)))
      = show_attribute('Inskriven', a.moved_in_at)
      - if a.moved_out_at.present?
        = show_attribute('Utskriven', a.moved_out_at)
        = show_attribute('Orsak', a.moved_out_reason.name)
        = show_attribute('Utskrivningskommentar', a.comment)
