.extra_contributions
  %h2.group-title Extra insatser
  - if @refugee.extra_contributions.blank?
    %p Inga extra insatser är registrerade
  - else
    - @refugee.extra_contributions.each do |extra_contribution|
      .extra_contribution
        = show_attribute('extra_contribution.extra_contribution_type', extra_contribution.extra_contribution_type.name)
        = show_attribute('extra_contribution.period_start', extra_contribution.period_start)
        = show_attribute('extra_contribution.period_end', extra_contribution.period_end)
        = show_attribute('extra_contribution.fee', number_to_currency(extra_contribution.fee.to_s, delimiter: ' '))
        = show_attribute('extra_contribution.expense', number_to_currency(extra_contribution.expense.to_s, delimiter: ' '))
