.box-content
  = simple_form_for @refugee, html: { class: "basic refugee" } do |f|
    = f.error_notification class: "warning"

    %h2.group-title Basuppgifter
    = f.input :name

    .terms
      = f.simple_fields_for :dossier_numbers do |s|
        - @label = 'Dossiernummer'
        = render "fields_for_terms", s: s
      .form-group
        %span.control-label
        .controls
          = add_dossier_numbers_button "Nytt dossiernummer", f

    .terms
      = f.simple_fields_for :ssns do |s|
        - @label = 'Personnummer'
        = render "fields_for_terms", s: s
      .form-group
        %span.control-label
        .controls
          = add_ssns_button "Nytt personnummer", f

    = f.association :gender
    = f.input :registered, as: :string, wrapper: :datepicker

    %h2.group-title Egenskaper
    = f.association :languages, input_html: { class: 'chosen' }
    = f.association :countries, input_html: { class: 'chosen' }
    = f.input :special_needs, as: :select

    %h2.group-title Boenden
    = f.association :homes, input_html: { class: 'chosen' }

    %h2.group-title Avregistrering
    = f.input :deregistered, as: :string, wrapper: :datepicker
    = f.input :deregistered_reason

    %h2.group-title Övrigt
    = f.input :comment

    = render 'submit', form: f, cancel_path: refugee_path(@refugee)
