.box-content
  = simple_form_for @refugee, html: { class: "basic refugee" } do |f|
    = f.error_notification class: "warning"

    - if can? :manage, Refugee
      = f.input :draft, wrapper: :vertical_radio_and_checkboxes

    = f.input :name

    %h2.group-title Asylstatus
    = f.input :registered, as: :string, wrapper: :datepicker
    = f.input :residence_permit_at, label: raw(t("simple_form.labels.refugee.residence_permit_at")), as: :string, wrapper: :datepicker
    = f.input :temporary_permit_starts_at, label: raw(t("simple_form.labels.refugee.temporary_permit_starts_at")), as: :string, wrapper: :datepicker
    = f.input :temporary_permit_ends_at, label: raw(t("simple_form.labels.refugee.temporary_permit_ends_at")), as: :string, wrapper: :datepicker
    = f.association :municipality, input_html: { class: 'chosen' }
    = f.input :municipality_placement_migrationsverket_at, as: :string, wrapper: :datepicker
    = f.input :municipality_placement_per_agreement_at, as: :string, wrapper: :datepicker
    = f.input :municipality_placement_comment
    = f.input :deregistered, as: :string, wrapper: :datepicker
    = f.input :deregistered_reason

    %h2.group-title Personuppgifter
    .terms
      = f.input :date_of_birth, label: 'Personnummer', wrapper: :addon do
        .input-group.ssn.date
          %span.dob.date
            = f.input_field :date_of_birth, as: :string, class: "form-control", placeholder: 'födelsedatum'
          .input-group-addon= '-'
          = f.input_field :ssn_extension, class: "form-control ssn-extension", placeholder: 'fyra sista'

      = f.simple_fields_for :ssns do |s|
        = render "fields_for_ssn", s: s
      .form-group
        %span.control-label
        .controls
          = add_ssns_button "Fler personnummer", f

    = f.input :dossier_number
    .terms
      = f.simple_fields_for :dossier_numbers do |s|
        = render "fields_for_dossier_number", s: s
      .form-group
        %span.control-label
        .controls
          = add_dossier_numbers_button "Fler dossiernummer", f

    = f.association :gender
    = f.association :languages, input_html: { class: 'chosen' }
    = f.association :countries, input_html: { class: 'chosen' }
    = f.input :special_needs, as: :select
    = f.input :other_relateds
    = f.input :comment

    = render 'application/submit', form: f,
      cancel_path: @refugee.id.present? ? refugee_path(@refugee) : refugees_path
