.box-content
  = simple_form_for @refugee, html: { class: "basic refugee" } do |f|
    = f.error_notification class: "warning"

    - if can? :manage, Refugee
      = f.input :draft, wrapper: :vertical_radio_and_checkboxes

    %h2.group-title Grunduppgifter
    = f.input :name

    .terms
      = f.simple_fields_for :dossier_numbers do |s|
        - @label = 'Dossiernummer'
        = render "fields_for_terms", s: s
      .form-group
        %span.control-label
        .controls
          = add_dossier_numbers_button "Nytt dossiernummer", f

    .terms
      = f.simple_fields_for :ssns do |s|
        - @label = 'Personnummer'
        = render "fields_for_terms", s: s
      .form-group
        %span.control-label
        .controls
          = add_ssns_button "Nytt personnummer", f

    = f.association :gender

    = f.association :languages, input_html: { class: 'chosen' }
    = f.association :countries, input_html: { class: 'chosen' }
    = f.input :special_needs, as: :select
    = f.input :other_relateds
    = f.input :comment

    %h2.group-title Händelser
    = f.input :registered, as: :string, wrapper: :datepicker
    = f.input :residence_permit_at, as: :string, wrapper: :datepicker
    = f.association :municipality, input_html: { class: 'chosen' }
    = f.input :municipality_placement_migrationsverket_at, as: :string, wrapper: :datepicker
    = f.input :municipality_placement_per_agreement_at, as: :string, wrapper: :datepicker
    = f.input :municipality_placement_comment
    = f.input :deregistered, as: :string, wrapper: :datepicker
    = f.input :deregistered_reason

    = render 'submit', form: f,
      cancel_path: @refugee.id.present? ? refugee_path(@refugee) : refugees_path
