.placements
  %h2.group-title Boendeplaceringar
  .placement
    = show_attribute('Total boendetid', "#{@refugee.total_placement_time} dagar")

  - @refugee.placements.each do |placement|
    .placement
      = show_attribute('refugee.home', (link_to placement.home.name, home_path(placement.home)))
      = show_attribute('Boendetid', "#{placement.placement_time} dagar")
      = show_attribute('placement.moved_in_at', placement.moved_in_at)
      - if placement.moved_out_at.present?
        = show_attribute('placement.moved_out_at', placement.moved_out_at)
        - if placement.moved_out_reason.present?
          = show_attribute('placement.moved_out_reason', placement.moved_out_reason.name)

      - if can? :edit, @refugee
        .form-group.action
          %span.no-control-label
          .controls
            = link_to "Redigera placeringen", edit_refugee_placement_path(@refugee, placement), class: "btn btn-default btn-sm"
            - if placement.moved_out_at.blank?
              = link_to "Utskrivning", refugee_placement_move_out_path(@refugee, placement), class: "btn btn-default btn-sm"

  - if can? :edit, @refugee
    .placement= link_to "Ny placering", new_refugee_placement_path(@refugee), class: "btn btn-default btn-sm"
