.placements
  %h2.group-title Boendeplaceringar
  .placement
    = show_attribute('Total boendetid', "#{number_with_delimiter(@refugee.total_placement_time, delimiter: ' ')} dagar")

  - @refugee.placements.each do |placement|
    .placement
      = show_attribute('refugee.home', (link_to placement.home.name, home_path(placement.home)))
      - if placement.home.use_placement_specification?
        = show_attribute('placement.specification', placement.specification)

      = show_attribute('placement.legal_code', placement.legal_code.present? ? placement.legal_code.name : '')
      = show_attribute('Boendetid', "#{placement.placement_time} dagar")
      = show_attribute('placement.moved_in_at', placement.moved_in_at)
      - if placement.moved_out_at.present?
        = show_attribute('placement.moved_out_at', placement.moved_out_at)
        - if placement.moved_out_reason.present?
          = show_attribute('placement.moved_out_reason', placement.moved_out_reason.name)
      = show_attribute('placement.cost_per_day', "#{number_to_currency(placement.cost_sum / placement.placement_time, delimiter: ' ')}")
      = show_attribute('placement.cost', "#{number_to_currency(placement.cost_sum, delimiter: ' ')}")

      - if can? :edit, @refugee
        .form-group.action
          %span.no-control-label
          .controls
            = link_to "Redigera placeringen", edit_refugee_placement_path(@refugee, placement), class: "btn btn-default btn-sm"
            - if placement.moved_out_at.blank?
              = link_to "Utskrivning", refugee_placement_move_out_path(@refugee, placement), class: "btn btn-default btn-sm"

  - if can? :edit, @refugee
    .placement= link_to "Ny placering", new_refugee_placement_path(@refugee), class: "btn btn-default btn-sm"
