%div
  %table.full.wrap.refugee.results
    %thead
      %tr
        %th Namn
        %th Dossiernummer
        %th Personnummer
        %th Kön
        %th Land
        %th Aktuellt boende

    %tbody
      - @refugees.each do |refugee|
        %tr
          %td= link_to refugee.name, refugee
          %td= refugee.dossier_number
          %td= refugee.ssn
          %td= refugee.gender.name if refugee.gender.present?
          %td= refugee.countries.map(&:name).join(', ')
          %td
            - if refugee.current_placements.empty?
              = 'Ingen aktiv placering'
            - else
              = link_to refugee.current_placements.last.home.name, home_path(refugee.current_placements.last.home)

  - if @has_more
    .load-more= link_to 'Visa fler', @more_request, class: 'btn btn-default'
