- title "#{t('actions.edit')} ensamkommande barn"
%section.box.form
  %h1.box-title= h1
  = render 'form'

- if @refugee.id.present? && can?(:destroy, Refugee)
  %section.box.show.user.danger-zone
    %h1.box-title Riskområde
    .box-content.basic.form-data
      %section.misc
        %p= "Ärendet kommer att raderas permanent. Detta går inte att ångra."
        .delete= button_to "Radera #{@refugee.name} permanent", @refugee, method: :delete, data: { confirm: 'Är du säker på att du vill radera ärendet permanent?' }, class: "btn btn-danger btn-default"
