- title "Ensamkommande flyktingbarn"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %td{ colspan: 9 }
          .actions= link_to 'Registrera ny', new_refugee_path, class: "btn btn-primary"
      %tr
        %th Namn
        %th Dossiernummer
        %th Personnummer
        %th Kön
        %th Land
        %th Boenden

    %tbody
      - @refugees.each do |refugee|
        %tr
          %td= link_to refugee.name, refugee
          %td= refugee.dossier_numbers.map(&:name).join(', ')
          %td= refugee.ssns.map(&:name).join(', ')
          %td
            - if refugee.gender.present?
              = refugee.gender.name
          %td= refugee.countries.map(&:name).join(', ')
          %td= refugee.homes.map(&:name).join(', ')

      %tr
        %td{ colspan: 9 }
          .actions= link_to 'Registrera ny', new_refugee_path, class: "btn btn-primary"
