- title 'Aktuellt läge'
%section.box.show.statistics
  %h1.box-title= h1
  .box-content.basic
    %h2.group-title Registreringar
    .stat
      = "#{@refugees} barn"
      = "(#{@genders})"
    .stat
      = "#{@registered_last_seven_days} har registrerats de senaste sju dagarna"
      = "(#{@genders_last_seven_days})"

    %h2.group-title Härkomst och språk
    .stat
      = raw "Vanligast härkomst:<br>"
      - @top_countries[0...10].each do |lang|
        = "#{lang[0]} (#{lang[1]}),"
    .stat
      = raw "Vanligast härkomst för registrerade senaste sju dagarna:<br>"
      - @top_countries_last_seven_days[0...10].each do |countries|
        = "#{countries[0]} (#{countries[1]}),"
    .stat
      = raw "Vanligast talade språk:<br>"
      - @top_languages[0...10].each do |lang|
        = "#{lang[0]} (#{lang[1]}),"
    .stat
      = raw "Vanligast talade språk för registrerade senaste sju dagarna:<br>"
      - @top_languages_last_seven_days[0...9].each_with_index do |lang, index|
        = "#{lang[0]} (#{lang[1]}), "

    %h2.group-title Placering och uppehållstillstånd
    .stat= "#{@without_residence_permit} saknar uppehållstillstånd"
    .stat= "#{@without_municipality_placement} saknar anvisning"
    .stat= "#{@without_placement} har ännu inte boendeplacerats"
    .stat= "Det finns #{@overlapping_placement / 2} överlappande placeringar (#{@overlapping_placement_last_seven_days / 2} senaste sju dagarna)"
    .stat= "#{@deregistered} är avregistrerade"

    %h2.group-title Boendeplatser
    .stat= "Det finns #{@seats} boendenplatser fördelade på #{@homes} boenden"
    .stat= "Det finns #{@guaranteed_seats} garantiplatser och #{@movable_seats} rörliga"
