- title 'Aktuellt läge'
%section.box.show.statistics
  %h1.box-title= h1
  .box-content.basic
    %h2.group-title I MEKS har vi just nu
    .stat
      = "#{@refugees} barn"
      = "(#{@genders})"
    .stat= "#{@registered_last_seven_days} har registrerats de senaste sju dagarna"
    .stat= "#{@without_residence_permit} saknar uppehållstillstånd"
    .stat= "#{@without_municipality_placement} saknar kommunplacering"
    .stat= "#{@without_placement} har ännu inte boendeplacerats"
    .stat= "#{@deregistered} är avregistrerade"
    .stat= "Det finns #{@seats} boendenplatser"
    .stat= "Det finns #{@guaranteed_seats} garanterade boendenplatser"
