- title 'Ensamkommande barn'
%section.box.search.refugees
  %h1.box-title= h1
  .box-content.body-copy
    = form_tag(refugees_search_path, method: "get", class: "basic") do
      .form-group
        = label_tag "query-refugee", "Sök barn: ", class: "control-label"
        .controls
          .input-group
            = text_field_tag "query-refugee", @q, name: "q", "data-autocomplete-url" => refugees_suggest_path, class: "form-control", placeholder: "Ange söktext"
            %span.input-group-btn
              = submit_tag "Sök", { class: "btn btn-default", name: nil }
          .help-inline Sök på namn, person- eller dossiernummer

    - if @total.present?
      %div.summary= "#{number_to_words(@total).titlecase} barn matchade din sökning"

    - if @refugees.present?
      = render "search_results"
    - else
      .actions
        - if can? :create, Refugee
          = link_to 'Registrera ny', new_refugee_path, class: 'btn btn-primary'
        = link_to "Lista utkast (#{@drafts_count})", refugees_drafts_path, class: 'btn btn-default'
        - if current_user.has_role? :admin
          = link_to "Lista importerade (#{@imported_count})", refugees_imported_path, class: 'btn btn-default'
