- title 'Ensamkommande barn'
%section.box.show.refugee
  %h1.box-title= h1
  .box-content.basic.form-data
    .form-group
      = link_to 'Redigera', edit_refugee_path(@refugee), class: 'btn btn-default'
    = form_for @refugee, html: { class: 'basic' } do |f|

      %h2.group-title Grunduppgifter
      = show_attribute('Namn', @refugee.name)
      = show_attribute('Dossiernummer', @refugee.dossier_numbers.map(&:name).join(', '))
      = show_attribute('Personnummer', @refugee.ssns.map(&:name).join(', '))
      = show_attribute('Kön', @refugee.gender.present? ? @refugee.gender.name : 'Ej angivet')

      = show_attribute('Språk', @refugee.languages.map(&:name).join(', '))
      = show_attribute('Länder', @refugee.countries.map(&:name).join(', '))
      = show_attribute('Insatsbild', @refugee.special_needs ? 'Ja' : 'Nej')
      = show_attribute('Kommentar', @refugee.comment)

      %h2.group-title Händelser
      = show_attribute('Registrerad', @refugee.registered)
      = show_attribute('Uppehållstillstånd', @refugee.residence_permit_at)
      = show_attribute('Anvisning', @refugee.municipality.present? ? @refugee.municipality.name : 'Ingen')
      = show_attribute('Anvisning enligt migrationsverket', @refugee.municipality_placement_migrationsverket_at)
      = show_attribute('Anvisning enligt överenskommelse', @refugee.municipality_placement_per_agreement_at)
      = show_attribute('Anvisning, kommentar', @refugee.municipality_placement_comment)
      = show_attribute('Avregistrerad', @refugee.deregistered)
      = show_attribute('Avregistrerad, anledning', @refugee.deregistered_reason)

      %h2.group-title Anhöriga
      [TODO]

      = render 'placements'
