- title 'Ensamkommande barn'
%section.box.show.refugee
  %h1.box-title
    = h1
    = "#{@refugee.draft? ?   '(Utkast)'  : ''}"
  .box-content.basic.form-data
    .form-group
      - if can? :edit, @refugee
        = link_to 'Redigera', edit_refugee_path(@refugee), class: 'btn btn-default'

      - if @refugee.secrecy?
        .secrecy= 'Sekretess'

    = form_for @refugee, html: { class: 'basic' } do |f|
      = show_attribute('refugee.sof_placement', @refugee.sof_placement ? 'Ja' : 'Nej')
      = show_attribute('refugee.name', @refugee.name)
      = show_attribute('Personnummer', @refugee.ssn)
      = show_attribute('Dossiernummer', @refugee.dossier_number)
      = show_attribute('Aktuellt boende', @refugee.placements.where(moved_out_at: nil).map(&:home).map(&:name).join(', '))
      = show_attribute('Asylstatus', format_asylum_status(@refugee.asylum_status) )

      %h2.group-title Personuppgifter
      = show_attribute('Personnummer', @refugee.ssn)
      = show_attribute('Extra personnummer', @refugee.ssns.map(&:full_ssn).join(', '))

      = show_attribute('Dossiernummer', @refugee.dossier_number)
      = show_attribute('Extra dossiernummer', @refugee.dossier_numbers.map(&:name).join(', '))
      = show_attribute('Ålder', @refugee.age)

      = show_attribute('refugee.gender', @refugee.gender.present? ? @refugee.gender.name : 'Ej angivet')

      = show_attribute('refugee.languages', @refugee.languages.map(&:name).join(', '))
      = show_attribute('refugee.countries', @refugee.countries.map(&:name).join(', '))
      = show_attribute('refugee.special_needs', @refugee.special_needs ? 'Ja' : 'Nej')
      = show_attribute('refugee.social_worker', @refugee.social_worker)

      %h2.group-title Asylstatus
      = show_attribute('refugee.registered', @refugee.registered)
      = show_attribute('refugee.residence_permit_at', @refugee.residence_permit_at)
      = show_attribute('refugee.checked_out_to_our_city', @refugee.checked_out_to_our_city)
      = show_attribute('refugee.temporary_permit_starts_at', @refugee.temporary_permit_starts_at)
      = show_attribute('refugee.temporary_permit_ends_at', @refugee.temporary_permit_ends_at)
      = show_attribute('refugee.citizenship_at', @refugee.citizenship_at)
      = show_attribute('refugee.municipality', @refugee.municipality.present? ? @refugee.municipality.name : 'Ingen')
      = show_attribute('refugee.municipality_placement_migrationsverket_at', @refugee.municipality_placement_migrationsverket_at)
      = show_attribute('refugee.municipality_placement_per_agreement_at', @refugee.municipality_placement_per_agreement_at)
      = show_attribute('refugee.municipality_placement_comment', @refugee.municipality_placement_comment)
      = show_attribute('refugee.deregistered', @refugee.deregistered)
      = show_attribute('refugee.deregistered_reason', @refugee.deregistered_reason.present? ? @refugee.deregistered_reason.name : '')
      = show_attribute('refugee.deregistered_comment', @refugee.deregistered_comment)

      = render 'placements'
      = render 'relateds'
