- title 'Ensamkommande barn'
%section.box.show.refugee
  %h1.box-title
    = h1
    = "#{@refugee.draft? ?   '(Utkast)'  : ''}"
  .box-content.basic.form-data
    .form-group
      - if can? :edit, @refugee
        = link_to 'Redigera', edit_refugee_path(@refugee), class: 'btn btn-default'

      - if @refugee.secrecy?
        .secrecy= 'Sekretess'

    = form_for @refugee, html: { class: 'basic' } do |f|
      = kv 'refugee.updated_at', @refugee.updated_at.to_s[0..18]
      = kv 'refugee.sof_placement', @refugee.sof_placement ? 'Ja' : 'Nej'
      = kv 'refugee.arrival', @refugee.arrival ? 'Ja' : 'Nej'
      = kv @refugee, :name
      = kv @refugee, :ssn
      = kv @refugee, :dossier_number
      = kv 'refugee.current_placement',
           @refugee.placements.where(moved_out_at: nil).map(&:home).map(&:name).join(', ')
      = kv 'refugee.current_asylum', asylum_status(@refugee)

      %h2.group-title Personuppgifter
      = kv @refugee, :ssn
      = kv 'refugee.extra_ssns', @refugee.ssns.map(&:full_ssn).join('<br>')

      = kv @refugee, :dossier_number
      = kv 'refugee.dossier_numbers', @refugee.dossier_numbers.map(&:name).join('<br>')
      = kv @refugee, :age

      = kv 'refugee.gender', @refugee.gender.present? ? @refugee.gender.name : 'Ej angivet'

      = kv 'refugee.languages', @refugee.languages.map(&:name).join(', ')
      = kv 'refugee.countries', @refugee.countries.map(&:name).join(', ')
      = kv 'refugee.special_needs', @refugee.special_needs ? 'Ja' : 'Nej'
      = kv @refugee, :social_worker

      %h2.group-title Asylstatus
      = kv @refugee, :registered
      = kv @refugee, :residence_permit_at
      = kv @refugee, :checked_out_to_our_city
      = kv @refugee, :temporary_permit_starts_at
      = kv @refugee, :temporary_permit_ends_at
      = kv @refugee, :citizenship_at
      = kv 'refugee.municipality',
        @refugee.municipality.present? ? @refugee.municipality.name : 'Ingen'
      = kv @refugee, :municipality_placement_migrationsverket_at
      = kv @refugee, :municipality_placement_comment
      = kv @refugee, :deregistered
      = kv 'refugee.deregistered_reason',
        @refugee.deregistered_reason.present? ? @refugee.deregistered_reason.name : ''
      = kv @refugee, :deregistered_comment

      = render 'placements'
      = render 'relateds'

      %h2.group-title Ekonomi
      = kv 'Total placeringskostnad',
           number_to_currency(Economy::PlacementAndHomeCost.new(@refugee.placements).sum, delimiter: ' ')
      = kv 'Förväntad intäktkonstnad',
           number_to_currency(@refugee.total_rate.to_s, delimiter: ' ')
      = kv 'Total utbetald schablon',
           number_to_currency(@refugee.payments.map(&:amount).sum.to_s, delimiter: ' ')

      = render 'extra_contributions'
      = render 'extra_costs'

      %h2.group-title Utbetalda schabloner
      - if @refugee.payments.blank?
        %p Inga schabloner har betalts ut
      - else
        %table.full.wrap
          %thead
            %tr
              %th Import
              %th Startdatum
              %th Slutdatum
              %th Dagar
              %th Belopp
              %th Belopp per dag
              %th Kommentar

          %tbody
            - @refugee.payments.each do |payment|
              %tr
                %td= link_to 'Visa', payment.payment_import
                %td= payment.period_start
                %td= payment.period_end
                %td= payment.days
                %td= "#{number_to_currency(payment.amount, delimiter: ' ')}"
                %td= "#{number_to_currency(payment.per_day, delimiter: ' ')}"
                %td= payment.comment
