- title 'Person'
%section.box.show.refugee
  %h1.box-title
    = "#{@refugee.name}, #{@refugee.dossier_number}"
    = @refugee.draft? ? '(Utkast)' : ''

  .box-content.basic.form-data
    .tabs
      %ul
        %li= link_to 'Allmänt', @refugee
        %li= link_to 'Placeringar', refugee_show_placements_path(@refugee)
        %li= link_to 'Extra kostnader/insatser', refugee_show_costs_path(@refugee)
        %li.active Anhöriga
        %li= link_to 'Ekonomi', refugee_show_economy_path(@refugee)

    = form_for @refugee, html: { class: 'basic' } do
      - no_relatives = @refugee.relationships.empty? && @refugee.inverse_relationships.empty?
      - if no_relatives
        = "Har inte angivits som anhörig till någon annan i systemet"

      - if @refugee.relationships.present?
        %h3= "#{@refugee.name} är anhörig till:"
        %ul.related
          - @refugee.relationships.each  do |r|
            %li
              = link_to r.related.name, refugee_path(r.related)
              = "(#{r.type_of_relationship.name})"

      .actions
        - if can? :edit, @refugee
          = link_to "Ny anhörig", new_refugee_relationship_path(@refugee), class: "btn btn-default btn-sm"
          - unless no_relatives
            = link_to "Redigera anhöriga", refugee_relationships_path(@refugee), class: "btn btn-default btn-sm"

      - if @refugee.inverse_relationships.present?
        %h3= "#{@refugee.name} är uppgiven som anhörig av:"
        %ul.related
          - @refugee.inverse_relationships.each  do |r|
            %li
              = link_to r.refugee.name, refugee_path(r.refugee)
              = "(#{r.type_of_relationship.name})"


      .form-group
        .control-label{ popover('refugee.other_relateds') }= I18n.t('simple_form.labels.refugee.other_relateds')
        .controls= @refugee.other_relateds.present? ? @refugee.other_relateds : 'Ingen registrerad'
