= form_tag reports_generate_path, class: 'basic' do
  %h2.group-title Ekonomi
  .form-group
    %span.control-label
      %label{ for: 'economy_placements_from' } Placerade mellan:
    .controls
      .input-group.input-daterange
        = text_field_tag 'economy_placements_from',
          DateTime.now.beginning_of_quarter.to_date - 3.months, class: 'form-control'
        %span.input-group-addon och
        = text_field_tag 'economy_placements_to',
          DateTime.now.beginning_of_quarter.to_date - 1.day, class: 'form-control'

  .form-group
    %span.no-control-label
    .controls
      = hidden_field_tag(:report_type, 'economy')
      = submit_tag 'Skapa rapport', name: nil, class: 'btn btn-primary'
