= form_tag reports_generate_path, class: "basic" do
  %h2.group-title Ekonomi
  .form-group
    %span.control-label
      %label{for: 'refugees_registered_from'} Inskrivna mellan:
    .controls
      .input-group.input-daterange
        = text_field_tag 'refugees_registered_from', DateTime.now.beginning_of_quarter.to_date, class: 'form-control'
        %span.input-group-addon och
        = text_field_tag 'refugees_registered_to', DateTime.now.to_date, class: 'form-control'

  .form-group
    %span.no-control-label
    .controls
      = hidden_field_tag(:report_type, 'economy')
      = submit_tag 'Skapa rapport', name: nil, class: "btn btn-primary"
