= form_tag reports_generate_path, class: "basic" do
  %h2.group-title Placeringar
  .form-group
    %span.control-label
      %label{ for: 'placements_from' } Har bott på boendet under tiden:
    .controls
      .input-group.input-daterange
        = text_field_tag 'placements_from', DateTime.now.beginning_of_quarter.to_date, class: 'form-control'
        %span.input-group-addon till
        = text_field_tag 'placements_to', DateTime.now.to_date, class: 'form-control'

  .form-group
    %span.control-label
      %label{ for: 'placements_selection' } Urval:
    .controls
      = select_tag('placements_selection', options_for_select("Alla" => 'all', "Personer med överlappande placeringar" => 'overlapping'),
        class: 'form-control chosen')

  .form-group
    %span.control-label
      %label{ for: 'placements_home_id_' } På boende:
    .controls
      = collection_select(:placements_home_id, nil, @homes, :id, :name, { prompt: 'Alla' }, { class: 'form-control chosen' })

  .form-group
    %span.no-control-label
    .controls
      = hidden_field_tag(:report_type, 'placements')
      = submit_tag 'Skapa rapport', name: nil, class: "btn btn-primary"
