- title 'Rapporter'
%section.box.show.reports
  %h1.box-title Generera rapporter
  .box-content.basic.form-data
    = render 'placements'
    = render 'people'
    = render 'economy'
    = render 'economy_uppbokning'
    = render 'economy_followup'
    = render 'homes'
