- title "Rapporter"
%section.box.show.reports
  %h1.box-title Generera rapporter
  .box-content.basic.form-data
    = render 'placements'
    = render 'refugees'
    = render 'economy'
    = render 'economy_per_refugee_status'
    = render 'economy_per_type_of_housing'
    = render 'homes'
