- title "Rapporter"
%section.box.show.reports
  %h1.box-title Färdiggenererade rapporter
  .box-content.basic.form-data
    %p.hint Högerklicka på en länk och välj <em>Spara länk som</em> (eller liknande)
    %ul.reports
      - @pre_generated_reports.each do |report|
        - if report[:filetime].present?
          %li
            = link_to report['desc'], reports_download_pre_generated_path(report['id'])
            = report[:filename]
            %br/
            = 'Skapad för'
            = distance_of_time_in_words_to_now(report[:filetime])
            = 'sen'
            = "(#{number_to_human_size(report[:filesize], precision: 3)})"

%section.box.show.reports
  %h1.box-title Generera rapporter
  .box-content.basic.form-data
    = render 'placements'
    = render 'refugees'
    = render 'homes'
