.box-content
  = simple_form_for @payment_import, html: { class: "basic" } do |f|
    - if @payment_import.errors.any?
      .warning
        %p= 'Filen kunde inte sparas. Följande fel upptäcktes:'
        %ul
          - @payment_import.errors.full_messages.each do |msg|
            %li= msg
          - @payment_import.payments.each do |payment|
            - payment.errors.full_messages.each do |msg|
              %li= msg

    .help-block.file_instructions
      %p= 'Välj ”Spara som...” i Excel och välj filformatet CSV med semikolon- eller tab-separerade fält.'
      %p= 'Använd inga kolumnrubriker och använd följande kolumnordning:'
      %ol
        %li Dossiernummer, måste matcha ett befintligt dossiernummer exakt
        %li Period, exakt formaterat som '2018-10-01--2018-12-31', dvs. med två bindestreck som avskiljare
        %li Utbetalt belopp
        %li Diarienummer
      %p= 'Övriga kolumner ignoreras.'

    = f.input :file, as: :file

    = render 'application/submit', form: f, cancel_path: payment_imports_path
