%nav.app.basic
  %h1 MEKS
  %ul
    %li= link_to "Ensamkommande barn", refugees_search_path
    %li= link_to "Boenden", homes_path
    %li= link_to "Aktuellt läge", refugees_path
    %li= link_to "Rapporter", reports_path

  %h1 Systemadministration
  %ul
    %li= link_to "Boendeformer", type_of_housings_path
    %li= link_to "Boenden, målgrupper", target_groups_path
    %li= link_to "Boenden, ägarformer", owner_types_path
    %li= link_to "Utflyttningsorsaker", moved_out_reasons_path
    %li= link_to "Kommuner", municipalities_path
    %li= link_to "Länder", countries_path
    %li= link_to "Språk", languages_path
    %li= link_to "Kön", genders_path
    %li= link_to "Anhörigformer", type_of_relationships_path

  %h1 Handläggare
  %ul
    %li= link_to "Handläggare", nope_path
    %li= link_to "Logga ut", root_path
